.info {
  --gradiend-style: linear-gradient(
    135deg,
    #1f005c,
    #5b0060,
    #870160,
    #ac255e,
    #ca485c,
    #e16b5c,
    #f39060,
    #ffb56b
  );

  width: 100%;
  box-sizing: border-box;
  border: 1px solid blue;
}

.info h1 {
  position: sticky;
  top: 10px;
}

.info p {
  font-family: var(--font-custom2-family);
  margin: 1rem 0 1rem 3rem;
  padding: 2rem 0 2rem 0;

  border-left: 3px solid blue;
  border-top-left-radius: 2rem;
  width: 100%;
  max-width: fit-content;
  min-width: 1em;

  font-size: clamp(1em, 5vw + 1em, 3em);
  background: var(--gradiend-style);
}
