@import url("./scale.animation.css");

main > div:nth-child(3) {
  background-color: cadetblue;
  height: 100px;
  aspect-ratio: 1;
  transition: all 2s ease-in-out;

  transition-delay: 1s;
}

main > div:nth-child(3) {
  transform: rotate(5deg) scale(1, 2) translateX(300px);
}

main > div:nth-child(4) {
  position: relative;
  /* background-color: violet; */
  height: 100px;
  aspect-ratio: 1;

  left: 50%;
  border-radius: 50%;
  aspect-ratio: 1;
  border: 2px solid red;
  overflow: hidden;
}

main > div:nth-child(4) > img {
  border: 1px solid red;
  width: 100%;
  transition: all 1s ease-in-out;
}
main > div:nth-child(4):hover {
  border-color: transparent;
}

main > div:nth-child(4) > img:hover {
  border-color: transparent;
  scale: 1.3;
}

main > div:nth-child(4):hover + div {
  border: 10px solid red;
}

/* main > div:nth-child(5)  */
main > div:last-child {
  background-color: purple;
  height: 100px;
  aspect-ratio: 1;
  transition: background-color 1s ease-in-out;
}

main > div:last-child:hover {
  background-color: black;
}

.animar__style {
  animation: 1s infinite ease-in-out sca;
}
